<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
EFT
<h:form>
	Receiver IBAN <h:inputText value="#{userBean.receiverIban}" /><br/>
	Amount <h:inputText value="#{userBean.amount}" />
	<h:commandButton action="#{userBean.eft()}" value="Send" />
</h:form>

<b>Check my <a href="mybankaccount.xhtml">accounts</a></b>

</body> 
</html>
