<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
Account Details
<h:form>
<h:form>

	<h:dataTable value='#{loginBean.user}' var="o"     			
			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row">
    					
    		<h:column>
    			
    			<f:facet name="header">ID</f:facet>
    			#{o.id}
    				
    		</h:column>
    			
    		<h:column>
    			
    			<f:facet name="header">Email</f:facet>
    			#{o.email}
    				
    		</h:column>
    			
    		<h:column>
    				
    			<f:facet name="header">Balance</f:facet>
    			#{o.balance}
    			
	    	</h:column>
	    	
    		<h:column>
    				
    			<f:facet name="header">Name</f:facet>
    			#{o.name}
    			
	    	</h:column>
	    	
    		<h:column>
    				
    			<f:facet name="header">Last Name</f:facet>
    			#{o.lastName}
    			
	    	</h:column>
	
	    		</h:dataTable>

	
</h:form>

<b>Send <a href="user/eft.xhtml">money</a></b>

</h:form>

</body> 
</html>
