<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<center><h1>Login Page</h1><br/><br/>
<hr/>
<h:form>
	Email: <h:inputText value="#{loginBean.email}" /><br/><br/>
	Password: <h:inputSecret value="#{loginBean.password}" /><br/><br/>
	<h:commandButton action="#{loginBean.login()}" value="Login" />
</h:form>
<hr/>
<h:messages /><br/><br/>
<b>If you are not registered, please <a href="reg.xhtml">register</a></b>
</center>
</body> 
</html>
