<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<center><h1>Registration Page</h1><br/><br/>
<hr/>
<h:form>
	Name  : <h:inputText value="#{registerBean.name}" /><br/><br/>
	Lastname   : <h:inputText value="#{registerBean.lastName}" /><br/><br/>
	Email  : <h:inputText value="#{registerBean.email}" /><br/><br/>
	Password   : <h:inputSecret value="#{registerBean.password}" /><br/><br/>	
	Iban	   :	 <h:inputText value="#{registerBean.iban}" /><br/><br/>	
	<h:commandButton action="#{registerBean.save()}" value="Save" />
</h:form>
<hr/>
<h:messages /><br/><br/>
<b>If you are already registered, you can <a href="login.xhtml">login</a> now.</b>
</center>
</body> 
</html>
