<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<br/>
<h1 align="center">Unauthorized User</h1>
<br/>
<h2 align="center">Access not allowed!</h2>
<h2 align="center">Please <a href="login.xhtml">login</a> first.</h2>
<h:messages />

</body> 
</html>
